@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
/*general styles*/
body {
    font-size: 16px;
    font-family: 'EB Garamond', serif;
    background: #D6E1DB;
}
h1 {
    font-size: 30px;
    color: #294F1C;
    text-align: center;
}
h2 {
    font-size: 24px;
    color: #455C18;
    text-align: center;
}
h3 {
    font-size: 19px;
    color: #678926;
}
dl dt {
    font-weight: bold;
    color: #267326;
}
.personalInfo{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
}
aside span {
    font-size: 12px;
}
aside img {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
aside h3 {
    display: inline-block;
}
a:visited {
    color: #064f10;
    font-weight: bold;
}
/*making grid*/
.wrapper {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 'a ' 'a' 'a' 'm' 'm' 'm';
    grid-template-columns: 1fr;
    justify-content: center;
}
aside {
    grid-area: a;
    margin-left: 40px;
}
main {
    grid-area: m;
    grid-gap:10px;
    font-size: 16px;
    margin-left: 40px;
}
/*styling buttons*/
label[for=personal] h3,
label[for=skills] h3,
label[for=languages] h3,
label[for=education] h3,
label[for=courses] h3,
label[for=expirience] h3 {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 280px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    text-align: center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}
/*displaying and hiding text*/
#personal:not(:checked) ~ .personal,
#personal,
#skills:not(:checked) ~ #filterskills,
#skills:not(:checked) ~ label[for=filterskills],
#skills:not(:checked) ~ .skills,
#skills,
#languages:not(:checked) ~ #filterlanguages,
#languages:not(:checked) ~ label[for=filterlanguages],
#languages:not(:checked) ~ .languages,
#languages,
#education:not(:checked) ~ .education,
#education,
#courses:not(:checked) ~ .courses,
#courses,
#expirience:not(:checked) ~ .expirience,
#expirience {
    display: none;
}
/*positioning range width text for filtering*/
.skills, .languages {
    display: grid;
    grid-template-areas: 'l v' 'l v' 'l v' 'l v' 'l v' 'l v' 'l v';
}
.skills .labels,
.languages .labels {
    grid-area: l;
    display: grid;
}
.skills .values,
.languages .values {
    grid-area: v;
    display: grid;
}
input[type=range]{
    width:150px;
}
/*filtering skills and languages*/
#filterskills:checked ~ .skills label[for=html],
#filterskills:checked ~ .skills #html,
#filterlanguages:checked ~ .languages label[for=english],
#filterlanguages:checked ~ .languages #english {
    grid-row: 1/2;
}
#filterskills:checked ~ .skills label[for=css],
#filterskills:checked ~ .skills #css,
#filterlanguages:checked ~ .languages label[for=german],
#filterlanguages:checked ~ .languages #german {
    grid-row: 2/3;
}
#filterskills:checked ~ .skills label[for=js],
#filterskills:checked ~ .skills #js {
    grid-row: 3/4;
}
#filterskills:checked ~ .skills label[for=git],
#filterskills:checked ~ .skills #git {
    grid-row: 4/5;
}
#filterskills:checked ~ .skills label[for=scss],
#filterskills:checked ~ .skills #scss {
    grid-row: 5/6;
}
#filterskills:checked ~ .skills label[for=react],
#filterskills:checked ~ .skills #react {
    grid-row: 6/7;
    grid-gap: 5px;
}
#filterskills:checked ~ .skills label[for=markdown],
#filterskills:checked ~ .skills #markdown {
    grid-row: 7/8;
}


.courses li {
    padding: 5px;
}
